In [2]:
import pandas as pd

In [10]:
data = pd.read_csv(".././data/raw/data.csv", index_col = 0)
print(data.shape)
data.head()

(53943, 10)

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

First of all, let's create train and test datasets.

In [15]:
def custom_train_test_split(dataframe: pd.DataFrame, test_size: float):
    test_subset = dataframe.sample(round(dataframe.shape[0]*test_size))
    train_subset = dataframe.drop(test_subset.index)

    return train_subset, test_subset

In [17]:
data_train, data_test = custom_train_test_split(data, 0.1)

print(data_train.shape, data_test.shape)

(48549, 10) (5394, 10)

In [24]:
data_train.to_csv(".././data/raw/train.csv", header = True)
data_test.to_csv(".././data/raw/test.csv", header = True)